<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995001539222-pt73ff7m687jjg4tpml23vgplsm01hoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995001539222-pt73ff7m687jjg4tpml23vgplsm01hoj</string>
	<key>API_KEY</key>
	<string>AIzaSyAdn6FwNQSxNAEgieLAhSMS7nu4JUu52ys</string>
	<key>GCM_SENDER_ID</key>
	<string>995001539222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derrick.InvoicesToGo</string>
	<key>PROJECT_ID</key>
	<string>invoicestogo-e884c</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicestogo-e884c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995001539222:ios:3ae30049d6300a042580b7</string>
</dict>
</plist>